---
// Company brand lockup: the TKM monogram (letters inherit currentColor so it works on
// cream nav + dark footer; the coral diamond is the logo's one constant accent) + wordmark.
---
<a class="brand" href="/">
  <span class="mark" aria-hidden="true">
    <svg viewBox="360 720 1330 600" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor" d="M1370.13 1038.52L1572.97 834.372C1601.27 805.918 1630.09 775.428 1658.82 747.749L1658.85 1297.04L1559.63 1297.04L1559.37 987.011C1497.41 1050.51 1432.9 1117.5 1369.74 1179.46C1315.03 1128.03 1261.62 1074.96 1207.15 1023.23C1182.74 1046.89 1157.46 1074.1 1133.88 1098.82L1060.86 1026.74C1078.7 1008.15 1100.56 986.526 1119.08 968.779C1146.86 944.357 1176.69 928.745 1214.74 931.567C1263.91 935.215 1291.33 962.276 1324.19 994.012L1370.13 1038.52Z"/>
      <path fill="#cc785c" d="M1119.08 968.779C1164.32 981.348 1173.78 989.905 1207.15 1023.23C1182.74 1046.89 1157.46 1074.1 1133.88 1098.82L1060.86 1026.74C1078.7 1008.15 1100.56 986.526 1119.08 968.779Z"/>
      <path fill="currentColor" d="M390.345 753.017L1053.15 753.007C1020.35 787.937 985.099 821.161 952.367 856.01L668.337 856.013L668.597 915.999L668.425 1297.05L568.872 1296.98L568.884 855.972L390.434 856.077L390.345 753.017Z"/>
      <path fill="currentColor" d="M1127.28 753.099L1262.82 753.062C1235.38 783.362 1199.6 817.95 1170.49 847.585L994.252 1026.44C1056.8 1084.97 1121.06 1149.86 1182.31 1210.16C1200.82 1228.33 1219.42 1246.39 1238.12 1264.36C1246.61 1272.56 1263.39 1288.19 1270.44 1296.92C1224.8 1297.63 1177.46 1297.01 1131.7 1296.96C1121.05 1287.48 1109.3 1275.05 1099.01 1264.71L1046.96 1212.55L859.255 1023.82C866.206 1017.66 876.204 1006.7 883.048 999.766L932.576 949.602L1041.74 839.235C1069.79 810.713 1098.47 780.757 1127.28 753.099Z"/>
      <path fill="currentColor" d="M720.362 905.82L819.077 905.557L819.065 1296.99L720.355 1296.96L720.362 905.82Z"/>
    </svg>
  </span>
  <span class="brand-name">TKM-AI</span>
</a>
